button {
    background-color:orange;
    height: 50px;
    width: 100px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
td {
    width: 110px;
    border: "3";
}
