<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <script type="text/javascript" src="/js/custom.js"></script>
    <nav>
        <ul>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</head>
<body>
<p>Player name: </p>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<button type="button">Submit</button>
</body>
</html>