<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/custom.css}" rel="stylesheet"/>
    <title>Index</title>
</head>
<body>
<form action="gameScreen" method="post">
    <label>Enter player name</label>
    <input type="text" name="name"/>
    <input type="submit" value="Submit"/>
</form>
<h1 th:text="${something}"/>
<div>
    <h2>Game rules:</h2>
    <p>
        Program chooses a random secret number with 4 digits.<br>
        All digits in the secret number are different.<br>
        Player has 8 tries to guess the secret number.<br>
        After each guess program displays the message "M:m; P:p" where:<br>
        m - number of matching digits but not on the right places<br>
        p - number of matching digits on exact places<br>
        Game ends after 8 tries or if the correct number is guessed.</p>
    <h2>Samples:</h2>
    <p>
        Secret: 7046 Guess: 8724 Message: M:2; P:0<br>
        Secret: 7046 Guess: 7842 Message: M:0; P:2<br>
        Secret: 7046 Guess: 7640 Message: M:2; P:2<br>
    </p>
    <!--    <button type="button"><a href="game.html">Start</a></button>-->
</div>
</body>
</html>